<%- include("includes/header") -%>

    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
        <link rel="stylesheet" href="../public/index.css">
    </head>

    <body style="background-color: #2f3136; color: black;">
        <section class="main">
            <div class="commands">
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2 class="title text-center"><i class="fas fa-terminal"></i>Commands</h2>
                    <br>
                    <br>
                    <br>
                    <table class="table" style="background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;">
                        <thead>
                            <tr>
                                <th scope="col" style="background: linear-gradient(to right, #00d9ff, #00ffff, #f27121);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          text-decoration: none;">Command</th>
                                <th scope="col" style="background: linear-gradient(to right, #00d9ff, #00ffff, #f27121);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          text-decoration: none;">Aliases</th>
                                <th scope="col" style="background: linear-gradient(to right, #00d9ff, #00ffff, #f27121);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          text-decoration: none;">Args</th>
                                <th scope="col" style="background: linear-gradient(to right, #00d9ff, #00ffff, #f27121);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          text-decoration: none;">Description</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>devs</th>
                                <td>dev</td>
                                <td>[none]</td>
                                <td>Preview The Bot Developers</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>dj</th>
                                <td>set-dj</td>
                                <td>[role] [toggle]</td>
                                <td>Chnage The Dj Role And Dj Toggle</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>help</th>
                                <td>h</td>
                                <td>[none]</td>
                                <td>Preview The Help List</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>info
                                </th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>Preview an advanced information</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>join</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>JOin the 24/7</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>jump</th>
                                <td>j</td>
                                <td>[song number]</td>
                                <td>Jump to specific songs</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>lang</th>
                                <td>set-lang</td>
                                <td>[the lang]</td>
                                <td>Chnage The Bot Reply Language</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>leave</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>leave the 24/7 channel</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>loop</th>
                                <td>repeat</td>
                                <td>[the loop mode]</td>
                                <td>Make the song/queue in a loop</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>lyrics</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>Preview the song lyrics</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>nowplaying</th>
                                <td>np</td>
                                <td>[none]</td>
                                <td>Preview what is playing now</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>pause</th>
                                <td>p</td>
                                <td>[none]</td>
                                <td>Pasue the music temporary</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>play-playlist</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>Play the saved playlist in your profile</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>play</th>
                                <td>p</td>
                                <td>[song name/url]</td>
                                <td>Play a music</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>prefix</th>
                                <td>set-prefix</td>
                                <td>[new prefix]</td>
                                <td>Change the bot prefix</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>queue</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>Preview The Server Queue</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>resume</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>Resume the music</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>save-playlist</th>
                                <td>[none]</td>
                                <td>[song name1, song name2, ...]</td>
                                <td>Save a playlist</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>say</th>
                                <td>[none]</td>
                                <td>[the word]</td>
                                <td>Make the bot say anything</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>search</th>
                                <td>[none]</td>
                                <td>[song name]</td>
                                <td>Search for a music</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>seek</th>
                                <td>[none]</td>
                                <td>[time with sounds]</td>
                                <td>Seek the music</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>setup</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>Create a autoplay channel</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>shuffle</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>Shuffle the server queue</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>skip</th>
                                <td>[none]</td>
                                <td>[none]</td>
                                <td>Skip to the next music</td>
                            </tr>
                            <tr>
                                <th scope="row"><b style="color: greenyellow;"><%= botconfig.mainPrefix %></b>volume</th>
                                <td>[none]</td>
                                <td>[the new vol]</td>
                                <td>Change the bot volume</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            </div>
        </section>
    </body>

    </body>
    <footer>

    </footer>

    </html>
